<% ancestors = selected_category.nil? ? [] : selected_category.get_ancestor_ids %>

<div id="main-categories-menu" class="ui secondary pointing menu">
    <% main_categories.each do |category| %>
        <% selected = ancestors.include?(category.id) %>
        <span class="item <%= "active" unless !selected %>">
            <%= link_to category.name, category_path(category) %>
        </span>
    <%end%>
</div>